<body>
<mat-toolbar color="primary" style="overflow: hidden;">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  &nbsp;&nbsp;
  <a *ngIf="!this.authService.isLoggedIn" mat-list-item [routerLink]="''" style="color: white; text-decoration: none;">GoInvest</a>
  <a *ngIf="this.authService.isLoggedIn" mat-list-item [routerLink]="'predict'" style="color: white; text-decoration: none;">GoInvest</a>
  <span class="example-spacer"></span>
  <span class="nav-tool-items">
    <button  mat-mini-fab color="primary" *ngIf="this.authService.isLoggedIn" routerLink="market">
      <mat-icon>insert_chart</mat-icon>
    </button>&nbsp;&nbsp;
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="appMenu">
      <mat-icon>fingerprint</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button *ngIf="this.authService.isLoggedIn" mat-menu-item routerLink="profile"><mat-icon>perm_identity</mat-icon> My Profile</button>
      <button *ngIf="this.authService.isLoggedIn" mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</button>
      <button  *ngIf="!this.authService.isLoggedIn" mat-menu-item routerLink="login"><mat-icon>input</mat-icon> Login</button>
      <button  *ngIf="!this.authService.isLoggedIn" mat-menu-item routerLink="register"><mat-icon>person</mat-icon>Register</button>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>     
  </mat-sidenav-content>
    <mat-sidenav #sidenav>
      <mat-nav-list style="width: 250px;">
        <a mat-list-item [routerLink]="'market'"><mat-icon>insert_chart</mat-icon>&nbsp;&nbsp; Current Market </a>
        <a mat-list-item [routerLink]="'predict'"><mat-icon>graphic_eq</mat-icon>&nbsp;&nbsp; GoInvest's Predictions </a>
        <a mat-list-item [routerLink]="'bought'"><mat-icon>monetization_on</mat-icon>&nbsp;&nbsp; Payment History </a>
        <a mat-list-item [routerLink]="'profile'"><mat-icon>perm_identity</mat-icon>&nbsp;&nbsp; My Profile </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div [hidden]="!loading" style='height:100vh;'>
        <span class="centered">
          <h2 style="color: #3f51b5;">Market is being updated... </h2>
        <h2 style="margin-left: 50px;"><mat-spinner></mat-spinner></h2>
      </span>
      </div>
      <div [hidden]="loading" style="height: 92vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</body>