<mat-toolbar color="primary">
    <mat-toolbar color="primary" class="app-header">
        <mat-toolbar-row>
          <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          &nbsp;&nbsp;<a mat-list-item [routerLink]="''" style="color: white; text-decoration: none;">GoInvest</a>
        </mat-toolbar-row>
      </mat-toolbar>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>     
  </mat-sidenav-content>
    <mat-sidenav #sidenav>
      <mat-nav-list style="width: 250px;">
        <a mat-list-item [routerLink]="'predict'"> Prices Predicted </a>
        <a mat-list-item [routerLink]="'bought'"> Payment History </a>
        <a mat-list-item [routerLink]="'profile'"> Profile </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>