<div style="text-align:centre;">
    <table class="table" *ngIf="arr" >
        <!-- ADD HEADERS -->
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Initial Price</th>
            <th>Predicted Price</th>
            <th>Buy Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pred of arr">
            <td>{{pred.stkid}}</td>
            <td>${{pred.initcost}}</td>
            <td>${{pred.initcost}}</td>
            <td><button mat-raised-button (click)="getData(pred)" color="primary">Buy</button></td>
        </tr>
      </tbody>
    </table>
</div>
