<div style="margin-left: 2%; margin-top: 3%;">
    <table style="width: 90%;" >
        <tr>
            <td>
                <circle-progress
                    [percent]= "this.per"
                    [radius]="250"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="this.color"
                    [innerStrokeColor]="'#3f51b5'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </td>
            <td align="center">
                <h1>Total Funds: ${{this.tf}}</h1>
                <h1 style="color: darkred;">Invested Funds: ${{this.ivf}} </h1>
                <h1 style="color: mediumseagreen;">Funds Left: ${{this.lf}} </h1>
            </td>
        </tr>
    </table>
</div>