<div style="margin-left: 2%; margin-top: 3%;">
    <table style="width: 90%;" >
        <tr>
            <td>
                <circle-progress
                    [percent]= "a"
                    [radius]="250"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </td>
            <td align="center">
                <h1>Total Funds: {{tf}}</h1>
                <h1 style="color: darkred;">Invested Funds: {{invf}} </h1>
                <h1 style="color: mediumseagreen;">Funds Left: {{lf}} </h1>
            </td>
        </tr>
    </table>
</div>