<body class="abc">
    
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <img src="../../assets/logo.png" alt="">
        <mat-card-title>Register with us!</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="signupForm" (ngSubmit)="registerUser()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="U_name" placeholder="Username" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput type="email" formControlName="Email_id" placeholder="Email" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput type="password" formControlName="U_pass" placeholder="Password" required>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Register</button>
  
      </form>
    </mat-card>
  </div>
</body>